<!DOCTYPE html>
<html>

<head>
  <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/@mdi/font@6.x/css/materialdesignicons.min.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
</head>

<body>
  <div id="app">
    <v-app>
      <v-main>
        <v-container>
          <v-data-table :headers="headers" :items="contatos">
            <template v-slot:top>
              <v-toolbar flat>
                <v-toolbar-title>Contatos</v-toolbar-title>
                <v-spacer></v-spacer>
                <v-dialog v-model="edicaoContato.mostrarDialogo" width="50vw">
                  <template v-slot:activator="{ on, attrs }">
                    <v-btn color="primary" dark fab v-on="on" @click="novoContato">
                      <v-icon dark>mdi-plus</v-icon>
                    </v-btn>
                  </template>
                  <v-card>
                    <v-card-title v-if="edicaoContato.novoContato">Adicionar contato</v-card-title>
										<v-card-title v-else>Editar contato</v-card-title>                    <v-card-text>
                      <v-container>
                        <v-form ref="formedicaoContato" v-model="edicaoContato.dadosValidos">
                          <v-row>
                            <v-col cols="12" md="6">
                              <v-text-field v-model="edicaoContato.dados.nome" label="Nome"
                                :rules="edicaoContato.regrasNome" required></v-text-field>
                            </v-col>
                            <v-col cols="12" md="6">
                              <v-text-field v-model="edicaoContato.dados.telefone" label="Telefone"
                                :rules="edicaoContato.regrasTelefone" required v-mask="'(##) ####-####'">
                              </v-text-field>
                            </v-col>
                          </v-row>
                        </v-form>
                      </v-container>
                    </v-card-text>
                    <v-card-actions>
                      <v-spacer></v-spacer>
                      <v-btn @click="edicaoContato.mostrarDialogo = false">Cancelar</v-btn>
                      <v-btn color="primary" :disabled="!edicaoContato.dadosValidos" @click="salvarContato">Adicionar
                      </v-btn>
                    </v-card-actions>
                  </v-card>
                </v-dialog>
                <v-dialog v-model="confirmacaoExclusao.mostrarDialogo" width="30vw">
									<v-card>
										<v-card-title>Confirmar exclusão</v-card-title>
										<v-card-text>Tem certeza que deseja excluir este contato? Esta alteração não poderá ser desfeita.</v-card-text>
										<v-card-actions>
											<v-spacer></v-spacer>
											<v-btn @click="confirmacaoExclusao.mostrarDialogo = false">Cancelar</v-btn>
											<v-btn color="error" @click="confirmacaoExclusao.excluir">Excluir</v-btn>
										</v-card-actions>
									</v-card>
								</v-dialog>
              </v-toolbar>
            </template>
            <template v-slot:item.actions="{ item }">
              <v-btn icon @click="editarContato(item)">
                <v-icon>mdi-pencil</v-icon>
              </v-btn>
              <v-btn icon @click="excluirContato(item)"><v-icon>mdi-delete</v-icon></v-btn>
            </template>
          </v-data-table>
        </v-container>

      </v-main>
    </v-app>
  </div>



  <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/v-mask/dist/v-mask.min.js"></script>
  <script>
    Vue.use(VueMask.VueMaskPlugin);
    var app = new Vue({
      el: '#app',
      vuetify: new Vuetify(),
      data: {
        contatos: [],
        headers: [
          { text: 'Nome', value: 'nome' },
          { text: 'Telefone', value: 'telefone' },
          { value: 'actions', sortable: false }
        ],
        edicaoContato: {
          novoContato: true,
          mostrarDialogo: false,
          regrasNome: [
            nome => !!nome || "Campo obrigatório",
            nome => (nome && nome.split(" ").filter(n => /^[a-zA-Z]{3,}$/.test(n)).length >= 2) || "O nome deve conter ao menos duas palavras de pelo menos 3 caracteres cada",
            nome => (nome && nome.length <= 100) || "O nome deve ser conter menos de 100 caracteres"
          ],
          regrasTelefone: [
            telefone => !!telefone || "Campo obrigatório",
            telefone => (telefone && /^\(\d{2}\) \d{4}-\d{4}$/.test(telefone)) || "O telefone deve ter o formato (99) 9999-9999"
          ],
          dadosValidos: false,
          dados: {
            nome: null,
            telefone: null
          }
        },
        confirmacaoExclusao: {
          mostrarDialogo: false,
          indiceItemExcluir: -1
        }
      },
      watch: {
        "edicaoContato.mostrarDialogo": function (mostrar) {
          if (mostrar) {
            this.$nextTick(() => this.$refs.formedicaoContato.resetValidation());
          }
        }
      },
      methods: {
        novoContato: function () {
          this.edicaoContato.novoContato = true;
          this.edicaoContato.dados = {
            nome: null,
            telefone: null
          };
        },
        editarContato: function (contato) {
          this.edicaoContato.novoContato = false;
          this.edicaoContato.dadosOriginais = contato;
          this.edicaoContato.dados = { ...contato };

          this.edicaoContato.mostrarDialogo = true;
        },
        salvarContato: function () {
          if (this.edicaoContato.novoContato) {
            this.contatos.push(this.edicaoContato.dados);
          } else {
            Object.assign(this.edicaoContato.dadosOriginais, this.edicaoContato.dados);
            this.edicaoContato.dadosOriginais = null;
          }

          this.edicaoContato.mostrarDialogo = false;
        },
        excluirContato: function (contato) {
					this.confirmacaoExclusao.indiceItemExcluir = this.contatos.indexOf(contato);
					
					this.confirmacaoExclusao.mostrarDialogo = true;
					this.confirmacaoExclusao.excluir = () => {
						this.contatos.splice(this.confirmacaoExclusao.indiceItemExcluir, 1);
						this.confirmacaoExclusao.mostrarDialogo = false;
					};
				}
      }
    })

  </script>
</body>

</html>